/* google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap');

/****************
    general style
****************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --header1: calc(2.4rem + 1vw);
    --header2: calc(2rem + 1vw);
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

/************
    hero
*************/

#hero {
    min-height: 97vh;
    width: 100%;
    background-image: linear-gradient(rgb(126, 161, 196, 0.7), rgb(27, 54, 92, 0.7)), url(../images/hero\ \(compressed\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero__main {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80%;
    height: 40%;
    text-align: center;
    color: #ffffff;
}

.hero__main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__main-header1 {
    font-size: calc(var(--header1)*2);
    text-transform: uppercase;
    letter-spacing: 2rem;
}

.hero__main-header2 {
    font-size: calc(var(--header2)/1.2);
    letter-spacing: 3.5rem;
    text-transform: uppercase;
}

.hero__main-text>p {
    font-style: italic;
}

.btn {
    padding: 1.5rem 7rem;
    border-radius: 0.5rem;
    margin-top: 4rem;
    border: none;
    font-size: 2rem;
    color: #1B365C;
}

footer{
    height: 3vh;
}